@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --gap-board: 5px;
  --ship-color: #a6e3a1;
  --ship-sunk-color: #f38ba8; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}

body {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  height: 100vh;
  gap: 50px;
  padding: 50px;
  background-image: url('https://i.pinimg.com/originals/3f/1e/9c/3f1e9c8eb389a9071f67a5b3f1d76246.gif');
}

#content {
  display: flex;
  gap: 35px;
}

.board {
  display: flex;
  flex-direction: column;
  background: black;
  gap: var(--gap-board);
  border: 5px solid;
  box-shadow: 10px 10px 0px black;
}

.board > div {
  display: flex;
  gap: var(--gap-board);
}

.board-square {
  width: 50px;
  height: 50px;
  background: white;
}

.board-square:hover {
  background-color: black;
}

.board-square.missed {
  background-color: black;
}

.board-square.attacked {
  background-color: var(--ship-color);
  border: 5px solid;
}

.board.finished {
  pointer-events:none;
}

/* SHIPS */

.shipsBoard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shipsRow {
  display: flex;
  gap: 15px;
}

.shipsRow > .ship {
  border: 5px solid;
  box-shadow: 5px 5px 0px black;
}

.ship {
  position: relative;
  z-index: 100;
  background: var(--ship-color);
}

.ship-shadow {
  background: rgba(255, 255, 255, 0.6);
}

.ship-sunk {
  background: var(--ship-sunk-color) !important;
}

.ship > div {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.horizontal {
  width: max-content;
  height: 50px;
}

.horizontal > div {
  width: calc(50px + var(--gap-board));
}

.horizontal > div:last-child {
  width: 50px;
}

.vertical {
  width: 50px;
  height: max-content;
}

/* Drag and Drop */

.dragging {
  opacity: 0.8;
  display: none;
}

.drag-over {
  background: var(--ship-color);
}

#placeships {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  gap: 40px;
}

#placeships p {
  font-size: 1.3em;
}

#placeships > div:first-child {
  border: 5px solid;
  padding: 25px;
  box-shadow: 10px 10px 0px black;
  background: white;
}

#placeships > button {
  background: var(--ship-color);
  padding: 20px;
  border: 5px solid;
  font-size: 1.3em;
  box-shadow: 10px 10px 0px black;
}

#placeships > button:hover {
  background: var(--ship-sunk-color);
}

img {
  width: 150px;
  height: auto;
}

#infos {
  display: flex;
  place-content: center;
  place-items: end;
  font-size: 35px;
}
