:root {
  --gap-board: 5px;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  gap: 20px;
}

.board {
  display: flex;
  flex-direction: column;
  background: black;
  gap: var(--gap-board);
}

.board > div {
  display: flex;
  gap: var(--gap-board);
}

.board-square {
  width: 50px;
  height: 50px;
  background: white;
}

.board-square:hover {
  background-color: black;
}

.board-square.missed {
  background-color: red;
}

.board-square.attacked {
  background-color: blue;
}

.board.finished {
  pointer-events:none;
}

/* SHIPS */

.shipsBoard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shipsRow {
  display: flex;
  gap: 20px;
}

.ship {
  position: relative;
  z-index: 100;
  background: blue;
}

.ship > div {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.horizontal {
  width: max-content;
  height: 50px;
}

.horizontal > div {
  width: calc(50px + var(--gap-board));
}

.horizontal > div:last-child {
  width: 50px;
}

.vertical {
  width: 50px;
  height: max-content;
}


/* Drag and Drop */

.dragging {
  opacity: 0.8;
  display: none;
}

.drag-over {
  background: blue;
}

#placeships {
  display: grid;
  grid-template-rows: 350px min-content min-content;
}
